<!DOCTYPE html>
<html ng-app='MainApp'>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 Library CSS, iOS Theme -->
    <link rel="stylesheet" href="../css/framework7.material.min.css">
    <!-- Path to Framework7 color related styles, material Theme -->
    <link rel="stylesheet" href="../css/framework7.material.colors.min.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body class="layout-null layout-white theme-bluegray" ng-controller="pacienteController" onload="onLoad()">
    <!-- Views -->
    <div class="views tabs toolbar-fixed">
      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main">
        <!-- Pages container, because we use fixed navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-fixed">
          <!-- Page, "data-page" contains page name -->
          <div data-page="index" class="page">
 
            <!-- Top Navbar. In Material theme it should be inside of the page-->
            <div class="navbar">
              <div class="navbar-inner">
              	<div class="left">
		            <a href="#" ng-click="go('../index.html');" class="link">
		                <i class="fa fa-chevron-left"></i>
		                <span>Atras</span>
		            </a>
		        </div>
                <!--<div class="center">DENTAL</div>-->
              </div>
            </div>

            <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
            <div class="toolbar toolbar-bottom tabbar tabbar-labels theme-bluegray">
              <div class="toolbar-inner">
                <a href="#home" class="tab-link active">
                  <i class="fa fa-home"></i>
                  <span class="tabbar-label">Inicio</span>
                </a>
                <!--<a href="#pde" class="tab-link">
                  <i class="fa fa-heartbeat"></i>
                  <span class="tabbar-label">PDE</span>
                </a>
                <a href="#rayosx" class="tab-link">
                  <i class="fa fa-close"></i>
                  <span class="tabbar-label">Rayos X</span>
                </a>
                <a href="#panoramica" class="tab-link">
                  <i class="fa fa-camera"></i>
                  <span class="tabbar-label">Panorámica</span>
                </a>-->
              </div>
            </div>
 
            <!-- Scrollable page content -->
            <div class="page-content">
              <div class="tabs-swipeable-wrap">
                <div class="tabs">
                  <div class="tab active" id="home">
                  <div class="card facebook-card">
                    <div class="card-header no-border">
                      <div class="facebook-avatar"><img id="foto_perfil" src="../img/logo.png" width="64" height="64"></div>
                      <div class="facebook-name">{{paciente.RNOM}} {{paciente.RAPP}} {{paciente.RAPM}}</div>
                      <div class="facebook-date">{{paciente.RCURP}}</div>
                    </div>
                    <div class="card-content">
                      <br>
                      <div class="line"></div>
                      <div class="row">
                        <div class="col-5"></div>
                        <div class="col-90">
                          <a ng-click="go('diagnostico_total.html')" style="margin-bottom: 5px;" class="button button-big button-fill button-raised color-red">Ausentes / Restos</a>
                          <a href="#" class="zonas button button-big button-fill button-raised color-teal">Individuales</a>
                        </div>
                        <div class="col-5"></div>
                      </div>
                    </div>
                    <div class="card-footer no-border">
                      <a href="#" class="link"> </a>
                      <a href="#" ng-click="go('panoramicas.html')" class="link"> Tomar panorámica <i class="fa fa-camera"></i> </a>
                      <a href="#" class="link"> </a>
                    </div>
                  </div>
                  
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../js/jquery-2.0.0.min.js"></script>
	<script type="text/javascript" src="../js/angular.min.js"></script>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../cordova.js"></script>
    <script type="text/javascript">

      function onLoad() {
          document.addEventListener("deviceready", onDeviceReady, false);
      }

      function onDeviceReady() {
        document.addEventListener("backbutton", function(e){
          window.location.href = "../index.html";
        }, false);
          document.addEventListener("offline", onOffline, false);
          document.addEventListener("online", onOnline, false);
      }
      function onOffline() {
        //alert("offline")
        document.getElementById("online").innerHTML = "<div class='alert alert-danger'>Esperando una conexión de red ...</div>";
      }
      var app = angular.module('MainApp', []);
      app.controller('pacienteController', function($scope, $http){
        $scope.paciente = JSON.parse(localStorage.getItem("paciente"));
        if($scope.paciente.RLOGTEMP){
          var image = document.getElementById('foto_perfil');
          image.src = $scope.paciente.RLOGTEMP;
        }
      });
    </script>
  </body>
</html> 